.dd {color: yellow;
         text-align: left;
            margin-left: 10px;
}
#cc {color:  deeppink;
text-align: left;
            margin-left: 10px;}
.dt {color: greenyellow;
    text-align: left;
            margin-left: 10px;
}
.container{
  color: blueviolet
  max-width: 1123px;
    margin: auto;
    height: 900px;
}
.box {
    width: 666px;
    height: 500px;
     background: #DAA520;
    margin: 0  auto;
}
.html{background-image: url(fire.jpg)}
.whi{color: aliceblue; text-align: center;}
.title {
width 100%}
.button{  background-color: black; 
    width: 40%;
    margin: 0  auto;
    border: 9px solid #800000;
    color: darkred;
    justify-content: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    display: flex;
  justify-content: center;
    font-size: 16px;}
.button:hover {
    background-color: #800000;
    color: black;
    border: 9px solid black;
}

selector{}